#map {
	width: 100%;
	height: 600px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

nav {
	font-family: 'Shrikhand', cursive;
}

a.brand-logo {
	font-size: 4vw;
	padding: 3px;

}

#menu-icon:hover {
	cursor:pointer;
}

#contact-head{
	text-align: center;
	padding: 20px;
	margin-top: 80px;
}

#contact-text{
	font-size: 50px;
}


#submit-email{
	margin-bottom: 100px;
	position: relative;
	z-index: 0;
}

.search-wrapper { 
    position: relative;
    left: 9%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: 300;
    width: 80%;
    height: 45px;
    margin-top: 10%;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    border: 0;
}

#search {
	border-bottom: 0;
	margin-bottom: 0;
}

#search:focus {
	border-bottom: 0;
	border: hidden;
}

#submit, #billSearch {
	z-index: 1;
	position: relative;
	left: 92%;
	top: -80%;
	text-shadow: 1px 2px 2px #000000;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	background-color: transparent;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	-webkit-appearance: textfield;
	-webkit-writing-mode: horizontal-tb;	
}

.input-field input[type=search]:focus {
     border: 0;
     box-shadow: none;
   }

.prefix {
	padding-top: 5px;
}


#map{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#reps-card:hover{
	cursor: pointer;
}

#bill-box{
	height: 500px;
	overflow: scroll;
	padding: 10px;
}

th {
	font-size: 15px;
}

#vote-head{
	text-align: center;
}

#info-box{
	padding: 10px;
}


a.more-info {
	color: white;
	font-weight: 600;
}

a.more-info:hover {
	text-decoration: underline;
}

a#more-details {
	color: white;
	font-weight: 600;
}

a#more-details:hover {
	text-decoration: underline;
}

#results-area {
	margin-top: 20px;
}

/* label color */
.input-field label {
	color: white;
}

